
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Login V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/araclar/images-log/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/vendor-log/bootstrap/css-log/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/fonts-log/font-awesome-4.7.0/css-log/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/fonts-log/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/vendor-log/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/vendor-log/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/vendor-log/animsition/css-log/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/vendor-log/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/vendor-log/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/araclar/css-log/util.css">
    <link rel="stylesheet" type="text/css" href="~/araclar/css-log/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <form class="login100-form validate-form" method="post">

                    <span class="login100-form-title p-b-43" style="color:darkgreen">
                        Bizi Unutmamışsın :)
                    </span>
                    <span class="login100-form-title p-b-43" style="color:darkgreen">
                        Hadi Giriş Yap...
                    </span>

                    <div class="wrap-input100 validate-input">

                        <input class="input100" type="text" name="kullaniciadi" required/>
                        <span class="focus-input100"></span>
                        <span class="label-input100">kullaniciadi</span>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Parola Giriniz...">
                        <input class="input100"  type="text" name="parola" required/>
                        <span class="focus-input100"></span>
                        <span class="label-input100">Parola</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            <a href="~/LoginKayit.aspx">Kaydol</a>
                            <br />
                            <br />

                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <input class="login100-form-btn" type="submit" />
                    </div>

                </form>

                <div class="login100-more" style="background-image: url(/araclar/images-log/bg-01.jpg);">
                </div>
            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/araclar/vendor-log/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/araclar/vendor-log/animsition/js-log/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/araclar/vendor-log/bootstrap/js-log/popper.js"></script>
    <script src="~/araclar/vendor-log/bootstrap/js-log/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/araclar/vendor-log/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/araclar/vendor-log/daterangepicker/moment.min.js"></script>
    <script src="~/araclar/vendor-log/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/araclar/vendor-log/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/araclar/js-log/main.js"></script>

</body>
</html>
